@charset "UTF-8";

.container {
	margin-left: 20%;
	margin-right: 20%;
}

.none_display {
	display: none;
}

.head {
	background-image: url(#{request.contextPath}/bg_icon.jpg);
	height: 60px;
	width: 100%;
}

.currentDate {
	float: left;
	width: 200px;
}

h1 {	
	text-align: center;;
}

.tab {
	width: 100%;
	text-align: center;
	border: 1px solid #343434;	
}

.tab caption {
	font-size: 20px;
	font-weight: 400;
	background-repeat: no-repeat;
	background-position: 130px center;
	padding-top: 20px;
	height: 50px;
}

.tab td {
	border-left: 1px solid #343434;
	border-top: 1px solid #343434;
	padding: 10px;
}

.tab th {
	border-left: 1px solid #343434;
	border-bottom: 1px solid #343434;
	padding: 20px;
	background-color: #118EC7;
	color: #FFF;
	font-weight: 400;
}

.tab tbody tr:hover * {
	background: #FBF4E9;
	color: #343434;
}

.tab tr {
	color: #343434;
}
