<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<script src="websocket.js"></script>
	<title>Information board</title>
	<h:outputStylesheet library="css" name="style.css" />
</h:head>
<h:body>
	<div class="container">
		<div class="head">
			<table class="currentDate">
				<tr>
					<th>Current date</th>
					<td id="date" />
				</tr>
				<tr>
					<th>Current time</th>
					<td id="time" />
				</tr>
			</table>
			<h1>Timetable</h1>
		</div>
		<div>
			<h:dataTable value="#{treatmentEvent.treatmentsList}" var="event" border="2" cellspacing="1" cellpadding="1" class="tab">
				<h:column>
					<f:facet name="header">Patient name</f:facet>
	#{event.patient}
	</h:column>
				<h:column>
					<f:facet name="header">Drug</f:facet>
	#{event.drug}
	</h:column>
				<h:column>
					<f:facet name="header">Dose</f:facet>
	#{event.dose}
	</h:column>
				<h:column>
					<f:facet name="header">Date</f:facet>
	#{event.date}
	</h:column>
				<h:column>
					<f:facet name="header">Time</f:facet>
	#{event.time}
	</h:column>
			</h:dataTable>
		</div>

	</div>
</h:body>
</html>